# Ignore everything by default, then allow only the site files
*
!.gitignore
!README.md
!index.html
!assets/
assets/*
!assets/paypal_icon.png
!assets/uber_icon.png
!assets/snigdha_headshot.jpg
!assets/snigdha_linkedin_qr.png
!assets/snigdha_instagram_qr.png
!assets/1pct_better_pm.png
!assets/pooja_headshot.jpg
!assets/pooja_linkedin_qr.png
!assets/pooja_instagram_qr.png
!assets/substack_mark.png
!assets/ghc26_title_bg.jpg
